<div>
  <nz-layout>
    <app-header></app-header>
  </nz-layout>
  <nz-layout>
    <app-side-bar></app-side-bar>
  </nz-layout>
  <nz-layout>
    <nz-layout>
      <app-bread-crumbs></app-bread-crumbs>
    </nz-layout>
    <nz-content>
      <div nz-row>
        <div nz-col colspan="24">
          <app-recipes></app-recipes>
        </div>
        <div nz-col nzSpan="24">
          <app-shopping-list></app-shopping-list>
        </div>
      </div>
    </nz-content>
  </nz-layout>
  <nz-layout>
    <app-footer></app-footer>
  </nz-layout>
</div>
