/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 2rem;
  color: #DC2F02;
}

.sub-heading {
  font-size: 1.5rem;
  color: #E85D04;
}

.paragraph {
  color: #4f4f4f;
  font-size: 1.3rem;
}

.nz-header {
  padding: 0;
}

.nz-footer {
  text-align: center;
}

.ant-menu,
.ant-menu-submenu{
  background: transparent !important;
}

.ant-menu,
.ant-menu-submenu ul{
  background: transparent !important;
}
